.todo-list {
  margin-top: 20px;
}

.todo-list div button {
  margin-left: 25px;
  background-color: orangered;
  padding: 10px 25px;
  border-radius: 15px;
  color: #ffffff;
}

.todo-list div button:focus,
.todo-list div button:hover {
  background-color: red;
}

.todo-list div {
  margin-bottom: 15px;
}