button {
    color: #ffffff;
    background-color: rebeccapurple;
    padding: 10px 45px;
    outline: none;
    border: 0;
    cursor: pointer;
    letter-spacing: 1px;
    display: block;
    margin: 50px auto 0 auto;
}

button:hover {
    background-color: rgb(173, 117, 230);
}