* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	padding: 0;
	list-style-type: none;
}

body {
	display: flex;
	min-height: 30vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

label {
	margin-right: 15px;
	font-size: 2em;
	vertical-align: middle;
}

input,button {
	padding: 10px 45px;
	letter-spacing: 1.5px;
	outline: none;
	border: 0;
	cursor: pointer;
}

input {
	margin-right: 15px;
	outline: .1px solid aqua;
}

button {
	background-color: rgb(169, 241, 241);
	color: black;
	height:  39px;
}

input,button:focus,
input,button:hover {
	border: .5px solid aqua;
}

button:focus,
button:hover {
	background-color: aqua;
}

#list {
	margin-top: 25px;
}

#list ul li {
	margin-bottom: 5px;
}