#modal {
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid orangered;
  padding: 1rem;
  border-radius: 0.25rem;
  background-color: white;
  color: orangered;
  padding: 50px;
}

#overlay {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}


#open-modal-btn {
	background-color: rgb(250, 172, 26);
	outline: none;
	border: 0;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 10px 45px;
	border-radius: 15px;
	font-size: 1em;
	cursor: pointer;
}

#open-modal-btn:hover,
#open-modal-btn:focus {
	background-color: rgb(248, 164, 8);
}

#close-modal-btn {
	background-color: rgb(250, 77, 14);
	outline: none;
	border: 0;
	color: #ffffff;
	letter-spacing: 1px;
	padding: 10px 45px;
	border-radius: 15px;
	font-size: 1em;
	cursor: pointer;
}

#close-modal-btn:hover,
#close-modal-btn:focus {
	background-color: rgb(245, 95, 40);
}