* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: center;
  justify-content: center;
  margin: 25px auto 0 auto;
  line-height: 1.6;
  border: 3px sandybrown solid;
  padding: 25px;
}

.card {
  margin-bottom: 25px;
  border: 2px darkviolet dotted;
  padding: 15px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-around;
  gap: 300px;
  margin-bottom: 5px;
}

.card-body {
  display: none;
}

.card-body.show {
  display: block;
}
