#counter {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

button {
    padding: 10px 45px;
    letter-spacing: 1px;
    color: black;
    cursor: pointer;
    outline: none;
    border: 0;
    background-color: transparent;
}

#increment:hover,
#increment:focus {
    background-color: rebeccapurple;
    color: #ffffff;
}

#decrement:hover,
#decrement:focus {
    background-color: orangered;
    color: #ffffff;
}

span {
    font-size: 2em;
    color: blueviolet;
}