div {
    display: flex;
    gap: 25px;
    flex-direction: column;
    width: 30%;
    margin: auto;
    min-height: 50vh;
    justify-content: center;
}

div input,
div button {
    padding: 10px 45px;
    cursor: pointer;
    letter-spacing: 1px;
    outline: none;
    border: 0;
    color: #ffffff;
}

div input {
    border: .5px solid rgb(247, 173, 35);
}

div input:hover,
div input:focus {
    border: .5px solid orange;
    background-color: rgb(247, 219, 168);
}

div #add-button {
    background-color: rgb(33, 167, 33);
}

div #clear-button {
    background-color: rgb(247, 173, 35);
}