* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.card {
	max-width: 450px;
	margin: 10px auto 15px auto;
	border-radius: 15px;
	border: 2px solid crimson;
	padding: 25px;
}

.card-header {
	margin-bottom: 15px;
}

button {
	padding: 10px 25px;
	margin-left: 15px;
	letter-spacing: 1.5px;
	border-radius: 15px;
	cursor: pointer;
	background-color: transparent;
	outline: .5px solid crimson;
	border: 0;
}

button:hover,
button:focus {
	background-color: crimson;
	color: #ffffff;
}