.answer-item {
  list-style: lower-alpha;
  margin-bottom: 0.5rem;
}

.question-item {
  margin-bottom: 2rem;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.question-item.correct {
  color: green;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.question-item.incorrect {
  color: red;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.question-item:last-child {
  margin-bottom: 0;
}

.alert-title {
  font-weight: bold;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-family: "Georgia", serif;
}

#alert {
  font-size: 1.25rem;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  background-color: #ffecb3;
  color: #7c4d00;
  border: 1px solid #ffca28;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#alert.active {
  display: block;
  animation: fadeIn 0.5s;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

form {
  max-width: 600px;
  line-height: 1.2;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

form ul,
ol {
  padding: 0;
  margin-top: 5px;
}

ol li {
  margin-bottom: 5px;
  margin-left: 10px;
}

button {
  width: 100%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 10px 45px;
  border-radius: 15px;
  cursor: pointer;
  letter-spacing: 1.5px;
  height: 50px;
  background-color: blueviolet;
  color: floralwhite;
  font-size: 1.25em;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  animation: shake 0.5s;
  background-color: rebeccapurple;
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Keyframes for shake animation */
@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
